/* Fonts */
@import '//fonts.googleapis.com/css?family=Cantarell:normal,700';
@import '//fonts.googleapis.com/css?family=OFL Sorts Mill Goudy TT:normal,400';

/* Reset */
html,
body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,menu,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}article,aside,figure,footer,header,hgroup,nav,section{display:block;}a{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}input,select{vertical-align:middle;}body{font:13px arial,helvetica,"Nimbus Sans L","Bitstream Vera Sans",sans-serif;*font-size:small;*font:x-small;line-height:1.22;}table{font-size:inherit;font:100%;}select,input,textarea{font:99% arial,helvetica,"Nimbus Sans L","Bitstream Vera Sans",sans-serif;}code,pre{font-family:"Courier New",monospace,serif;font-size:1em;}body,select,input,textarea{color:#444;}h1,h2,h3,h4,h5,h6{font-weight:bold;text-rendering:optimizeLegibility;}html{-webkit-font-smoothing:antialiased;}a:active{outline:none;}a:focus{outline:thin dotted;}a,a:active,a:visited{color:#607890;}a:hover{color:#036;}ul{margin-left:30px;}td,td img{vertical-align:top;}sup{vertical-align:super;font-size:smaller;}pre{padding:15px;white-space:pre;white-space:pre-wrap;white-space:pre-line;word-wrap:break-word;}::-moz-selection{text-shadow:none;}::selection{text-shadow:none;}html{overflow-y:scroll;}button{width:auto;overflow:visible;}.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}.clearfix{display:inline-block;}* html .clearfix{height:1%;}/* Hides from IE-mac \*/ .clearfix{display:block;}

/* Main styles */
html, body {
	width:100%;
	height:100%;
}

body {
	font-family: Cantarell, Arial, sans-serif;
	width:960px;
	margin:20px auto;
	position:static;
}

::-moz-selection { background:#ccc; }
::selection { background:#ccc; }
a:link { -webkit-tap-highlight-color:#ccc; }

h1, h2, h3 {
	font-family: 'OFL Sorts Mill Goudy TT', Georgia, serif;
	font-weight:normal;
}
h1 {
	font-size:3em;
}
h2 {
	font-size:2em;
}
h3 {
	font-size:1.5em;
	margin-top:16px;
}
p {
	line-height:1.5;
}

#controls {
	width:750px;
}

canvas {
	background-color:#f1f1f1;
	border:1px #ccc dashed;
}

.images img {
	width:150px;
	height:auto;
}

/* button styles */
.button {
	float:right;
	margin:0px 5px;
	padding:0px 9px;
	height: 22px;
	font-size:0.9em;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
  -moz-border-radius: 3px 3px 3px 3px !important;
  -webkit-border-radius: 3px 3px 3px 3px !important;
	border: 1px solid #bbb;
	background-color: #dedede;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#dedede');
	background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#dedede));
	background: -moz-linear-gradient(top,#fff,#dedede);
}
.button a {
	text-decoration:none;
	color:#000;
}
.button:hover {
	border-color: #999
}
.button:active {
	border-color: #ccc;
	background-color: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dedede', endColorstr='#fff');
	background: -webkit-gradient(linear,left top,left bottom,from(#dedede),to(#fff));
	background: -moz-linear-gradient(top,#dedede,#fff);
}

.button#load {
	float:left;
	margin-bottom:15px;
	display:block;
}

input {
	width:500px;
}

/* Horizontal rule */
.hr {
	width:850px;
	height:13px;
	margin:10px auto 10px auto;
	background-image:url("http://media.maxnov.com/getimagedata/img/hr-light.png");
}
.hr hr {
	display:none;
}

/* Footer */
footer {
	width:960px;
	margin:50px 0px 50px 0px;
	text-align:center;
}
footer img {
	vertical-align:middle;
}


/* Print and mobile */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none; }

  a, a:visited { color: #444 !important; text-decoration: underline; }

  a:after { content: " (" attr(href) ")"; }

  abbr:after { content: " (" attr(title) ")"; }

  .ir a:after { content: ""; }  /* Don't show links for images */

  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }

  img { page-break-inside: avoid; }

  @page { margin: 0.5cm; }

  p, h2, h3 { orphans: 3; widows: 3; }

  h2, h3{ page-break-after: avoid; }
}

/*
 * Media queries for responsive design
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {


  /* Prevent iOS, WinMobile from adjusting font size */
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
}

